.page {
  min-width: 1100px; /* Establece la anchura mínima del bloque en 1100px */
  max-width: 1600px; /* Establece la anchura máxima del bloque en 1600px */
  margin: 0 auto; /* Centra el bloque horizontalmente cuando la anchura de la pantalla es mayor que la anchura máxima del bloque */
  font-family: "Inter", Arial, sans-serif; /* Configura la familia de fuentes en "Inter" con alternativas */
  font-size: 16px; /* Configura el tamaño de fuente en 16px */
  line-height: 20px; /* Configura la altura de la línea en 20px */
  display: flex;
  flex-direction: column;
}
