.reservation {
  margin: 0;
  background-image: url(/images/background_reservation.svg);
  background-color: #d9e7ff;
  color: #000000;
  position: relative;
}

.reservation__title {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  /*margin-bottom: 80px;*/
  margin: 0 auto 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  margin: auto;
  padding: 0;
  border: none;
}
