.page {
    min-width: 1100px; /* Establece la anchura mínima del bloque en 1100px */
    max-width: 1600px;     /* Establece la anchura máxima del bloque en 1600px */
    margin: 0 auto;     /* Centra el bloque horizontalmente cuando la anchura de la pantalla es mayor que la anchura máxima del bloque */
    font-family: 'Inter', Arial, sans-serif;     /* Configura la familia de fuentes en "Inter" con alternativas */
    font-size: 16px;     /* Configura el tamaño de fuente en 16px */
    line-height: 20px;     /* Configura la altura de la línea en 20px */
    display: flex;
    flex-direction: column;

}

/*----------AQUI COMIENZA HEADER----------*/

.header {
    background-color: #FFFFFF;
    position: relative;
    background-image: url(../images/background_header.svg);

}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    margin: 30px 30px;
    max-width: 105px;
    max-height: 39px;

}

.nav__links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    max-width: 709px;
    padding-left: 0;
    margin: 30px 80px;
    column-gap: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

}

.nav__link {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.header__title {
    max-width: 709px;
    font-size: 58px;
    line-height: 72px;
    font-weight: 500;
    margin: 183px 0 0 80px;
    font-family: "Inter";
    font-style: normal;
     letter-spacing: -1px;
    
}

.header__span-acent {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
    line-height: 72px;
    color: #2F80ED;}

.header__description {
    max-width: 683px;
    font-size: 20px;
    line-height: 30px;
    margin: 28px 80px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;


}

.header__image {
    max-width: 568px;
    max-height: 648px;
    padding-right: 5px;
}

.header__footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
   
    
}

.header__schedules {
    margin: 40px 80px;
    margin-top: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    color: #838383;
}

.hours__paragraph {

}


.header__footer-address {
    margin-top: auto;
    margin: 40px 80px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383
}

.hours__paragraph-address {
    

}


/*----------AQUI COMIENZA MAIN----------*/

.content {
    margin: 0;
    background-color: #0A2850;
    background-image: url(../images/background_recipes.svg);
    color: #FFFFFF;
}

.recipes {

}

.recipes__title {
 max-width: 580px;
 margin: 100px 0 24px 80px;
 font-family: "Inter";
 font-style: normal;
 font-weight: 500;
 font-size: 44px;
 line-height: 52px;
}

.recipes__subtitle {
    max-width: 438px;
    margin: 24px 0 80px 80px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

}

.recipes__video {
 display: flex;
 justify-content: center;
 margin: 80px 0 215px 0;
}

.recipes__video-item{
    display: flex;
    gap: 40px;
    margin-bottom: 24px;
    list-style-type: none;
    padding-left: 0;


}

.recipes__iframe {
    max-width: 480px;
    max-height: 273px;
}

.recipes__video-caption {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}


/*----------AQUI COMIENZA FOOTER----------*/
